body {
      background-color: rgb(248,249,250);
    
}
.content {
  width:680px;
  height:100px;    
  margin:150px auto;
}

.form-wrapper {
  margin:32px auto;
  width:264px;
  height:253px;
  position:relative;
  border:1px solid rgb(197,200,204);
  background-color:rgb(248,249,250);
  text-align:center;
  border-radius:5px;
  box-shadow:0 1px 0 rgb(255,255,255), 0 2px 0 rgb(197,200,204), 0 3px 0 rgb(255,255,255), 0 4px 0 rgb(197,200,204);
}
.form-wrapper:before {
  content:"";
  display:block;
  height:37px;
  border-bottom:1px solid rgb(197,200,204);
  border-radius:5px 5px 0 0;
  box-shadow:inset 2px 2px 0 rgb(255,255,255);
}

.form-wrapper .login-form {
  padding-top:40px;
  box-shadow:inset 2px 0 0 rgb(255,255,255);
}
.form-wrapper input[name="ulogin"],
.form-wrapper input[name="password"] {
  height:40px;
  width: 200px;
  margin:0 auto;
  padding-left:15px;
  display:block;
  border:1px solid rgb(197,200,204);
  background-color:rgb(228,230,233);
}
.form-wrapper input[name="ulogin"]{
  border-bottom:none;
  border-radius:5px 5px 0 0;
  box-shadow:inset 0 1px 0 rgb(212,214,217);
  outline:none;
}
.form-wrapper input[name="password"] {
  border-radius:0 0 5px 5px;
  outline:none;
}
.form-wrapper button[type="submit"], .pull-right a, .btn.btn-primary{
    margin-top:25px;
	  cursor:pointer;
    width:215px;
    height:44px;
    color:#fff;
    font-size:20px;
    border:none;
    border-top:1px solid rgb(190,143,48);
    position:relative;
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(228,182,88)), color-stop(100%,rgb(218,149,78)));
    background-size:213px 41px,215px 43px;
    border-radius:5px;
    box-shadow:inset 0 1px 0 rgb(242,220,175);
    text-shadow:1px 1px 0 rgb(138,100,50);
    transition:color 300ms linear;
}
.form-wrapper button[type="submit"]:hover {
	opacity:0.9;
	}

.form-wrapper .linker {
  position:absolute;
  width:240px;
  height:40px;
  top:18px;
  left:10px;
}
.linker .ring {
  position:relative;
  display:inline-block;
  border:1px solid rgb(163,164,167);
  background-color:rgb(220,222,225);
  height:12px;
  width:12px;
  border-radius: 6px;
  margin-right:33px;
}
.linker .ring:last-child {
  margin-right:0;
}
.linker .ring:before {
  content:"";
  position:absolute;
  bottom:-25px;
  left:-1px;
  border:1px solid rgb(163,164,167);
  background-color:rgb(220,222,225);
  height:12px;
  width:12px;
  border-radius: 6px;
}
.linker .ring:after{
  content:"";
  position:absolute;
  top:2px;
  left:2px;
  width:6px;
  height:30px;
  border:1px solid rgb(202,202,202);
  background-color:rgb(255,255,255);
  border-radius: 3px;
}

/* Стили бара vladmaxi, можно удалить */
.vladmaxi-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}
.btn-primary{
  background:transparent;
  border:none;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.btn-primary:hover{
  background:transparent;
}
.panel-primary{
	/*width: 400px;
  height: 160px;*/
    border: 1px solid rgb(197,200,204);
    background-color: #ADD8E6;
    border-radius: 5px;
    padding: 25px 50px;
    box-shadow: 0 1px 0 rgb(255,255,255), 
                0 2px 0 rgb(197,200,204), 
                0 3px 0 rgb(255,255,255), 
                0 4px 0 rgb(197,200,204);
}
.pull-right a, .btn.btn-primary{
  margin-top: 25;
  width: 154px;
  height: 23px;
  font-size: 13px;
  padding: 0;
}
.pull-right a:hover, .btn-md.btn-primary:hover, .btn.btn-primary:hover{
    background: -webkit-gradient(linear, left top, left bottom, 
                                color-stop(0%,rgb(218,149,78)), 
                                color-stop(100%,rgb(228,182,88)));
}
.btn.btn-primary{
  margin-left: 75px;
}
.btn.btn-primary.btn-md{
  margin-left: 0;
}
.btn.btn-primary.btn-xs{
  margin-left: 10;
  width: 90px;
  height: 25px;
}

#tabeldata_wrapper{
  padding: 10px;
  border-radius: 5px;
}
h3, h1{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.table-striped>tbody>tr:nth-child(odd){
  background: #FFFDC3;
  
}
.table-striped  {
  background-color: #A9E2F3;
  border: 1px solid #fff !important; 
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
 background: -webkit-gradient(linear, left top, left bottom, 
                                color-stop(0%,rgb(218,149,78)), 
                                color-stop(100%,rgb(228,182,88)));
}
.panel-header{
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
}
.adm{
  margin-bottom: 20px;
}
.adm a{
  float: left;
  margin-right: 20px;
}
.adm:after{
  content: " ";
  clear: both;
  display: table;
}
